:root {
  --DarkBrown: #5c4400;
  --LightBrown: #efece6;
  --Yellow: #e9d68b;
  --DarkText: #333333;
  --LightText: #555555;
  --White: #ffffff;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: var(--DarkText);
}

span {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: var(--LightText);
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--DarkText);
}

a:visited {
  color: var(--DarkText);
}

.App {
  height: 100vh;
  background: url("./images/lane_lines_bg.jpg");
  background-size: cover;
  overflow-y: scroll;
}

.AppWrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 20px;
  justify-items: center;
}

.HeaderContainer {
  position: sticky;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: var(--LightBrown);
  opacity: 0.9;
  z-index: 99;
}

#HeaderLogo {
  padding: 10px 0 10px 20px;
}

.NavigationContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-gap: 3px;
  place-items: center;
  padding: 10px;
}

.NavigationButton {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid var(--DarkBrown);
  font-weight: 900;
}

.NavigationButton:hover {
  background-color: var(--Yellow);
}

.NavigationButton:active {
  color: var(--White);
}

.BodyContainer {
}

.SubmitTimesContainer,
.CreateMeetContainer,
.CreateSwimmerContainer {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 10px;
  padding: 10px 20px;
  background-color: var(--LightBrown);
  opacity: 0.9;
  border-radius: 10px;
}

.SubmitTimesForm,
.CreateMeetForm,
.CreateSwimmerForm {
  display: grid;
  grid-gap: 3px;
}

.formElement {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.formElement_timeEntry {
  display: grid;
  grid-template-columns: 70px auto 70px auto 70px;
}

.submitButton {
  margin: 10px 0 3px 0;
}
